/**** Reset ****/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**** Style général de la page ****/

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #eeeeee;
}

.container {
    width: 300px;
    height: 300px;
    border-radius: 5px;
    box-shadow: 0 7px 29px 0 rgba(100, 100, 111, 0.2);
    background-color: #fbfcee;
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
}

.container:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom,rgba(171,102,255,1), rgba(221, 238, 255, 0) 80%, rgba(255, 255, 255, .5));
    z-index: 10;
    transform: translate3d(0, 0, 0);
}

.wave {
    position: absolute;
    top: 3%;
    left: 50%;
    background-color: #00aaff;
    opacity: 0.4;
    width: 500px;
    height: 500px;
    border-radius: 43%;
    margin-left: -250px;
    margin-top: -250px;
    transform-origin: 50% 48%;
    animation: drift 3s infinite linear;
}

.wave.three {
    animation: drift 5s infinite linear;
}

.wave.two {
    animation: drift 7s infinite linear;
    background-color: #ffff00;
    opacity: 0.3;
}

/**** Animation drift ****/

@keyframes drift {
    from {
        transform: rotate(0deg);
   }
    to {
        transform: rotate(360deg);
   }
}

.title {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    line-height: 300px;
    text-align: center;
    transform: translate3d(0, 0, 0);
    color: #ffffff;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    font-size: 32px;
    font-weight: 700;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    text-indent: 0.3em;
}
